@model sampleaspnet.Models.EThorTestEntity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EThorTestEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="display:none" asp-for="HardProperty" class="form-control" value="@(Model.HardProperty != null ? Model.HardProperty[0] : "")" />
                <span asp-validation-for="HardProperty" class="text-danger"></span>
                @await Html.PartialAsync("_HardProperty", Model)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
